
.font_1 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: blue;
    text-align: left;
}


.font_2 {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: green;
    text-align: right;
}
